@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';

@layer {
  @import url('https://fonts.googleapis.com/css2?family=bungee&family=Inter:wght@100;300;500;700&family=Noto+Sans:wght@100;200;300;400;600&amily=Schibsted+Groteskfamily=Poppins:wght@100;200;300;400;600&family=Roboto:wght@300;400;500&family=Space+Grotesk:wght@300;400;500;600&display=swap');
}

body {
  position: relative;
  overflow-y: scroll;
  overflow-x: wrap;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  font-style: normal;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: '#382f2d' !important;
  background-color: white;
}
div,
span,
.btn,
ul,
li,
ol,
section,
span,
.btn,
h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: 'Space Grotesk' !important;
}
input {
  background-color: #fff !important;
  color: #382f2d !important;
  font-size: 18px;
}
label {
  font-weight: 500 !important;
  font-size: 18px !important;
}
h1,
h2,
h3 {
  font-family: 'bungee' !important;
  font-size: 18px;
}
.bg-primary {
  background-color: rgb(0 128 128 / var(--tw-bg-opacity));
  color: #f4f4f4;
  display: inline-flex;
}
.bg-secondary {
  background-color: rgb(198 184 54 / var(--tw-bg-opacity)) !important;
  color: #f4f4f4;
  display: inline-flex;
}
.bg-neutral {
  --tw-bg-opacity: 1;
  background-color: rgb(56 47 45 / var(--tw-bg-opacity));
  color: #f4f4f4;
  display: inline-flex;
}
.ownBtn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: #f4f4f4;
  max-width: 400px;
}
.ownBtn:hover {
  opacity: 0.9;
}
.error {
  color: #ff0000 !important;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}
.block {
  display: block;
}

@media (max-width: 500px) {
  label, h3, span, select, button, input, .error {
    font-size: 20px !important;
  }
}